<div class="card article-container">
<img class="card-img-top" src="{{imageUrl}}" alt="Card image cap">
<div class="card-body">
	<h5 class="card-title">{{title}}</h5>
	<p class="card-text">{{openingText}} <a href="{{link}}">More</a></p>
	<small class="post-date">{{date}}</small>
</div>
</div>

